/*====================================
=            scaffoldings            =
====================================*/

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  min-width: 320px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  background:#fff;
  color:#444444;
}

img {
  max-width:100%;
  height: auto;
}

input::placeholder {
  color: #000;
}

input::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}

input:-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #000;
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
}

p {
  margin:0;
}

ul {
  margin:0;
  padding:0;
}

.visually-hidden {
  text-indent:-9999px;
  overflow:hidden;
  width: 0;
  height: 0;
}


a {
  text-decoration:none;
}






/*=====  End of scaffoldings  ======*/
