/*===========================
=            btn            =
===========================*/
.btn {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 17px;
  line-height: 1;
  font-weight: 800;
  text-transform:uppercase;
  text-align: center;
  color:#444444;
  background: transparent;
  border:2px solid #444444;
  cursor:pointer;

  &--fill {
    background:#63d1bb;
    border:2px solid transparent;
    color:#fff;
  }

}

/*=====  End of btn  ======*/
