/*=================================
=            copyright            =
=================================*/

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright__text {
  font-size: 19px;
  line-height: 1;
  font-weight: 800;
  margin-right: 30px;
}


/*=====  End of copyright  ======*/
