/*=====================================
=            demonstration            =
=====================================*/
.demonstration {
  padding-top: 30px;
  border:1px solid #ececec;
  margin-bottom: 60px;
}

.demonstration__title {
  position: relative;
  padding-left: 60px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 800;
  color:#000;
  max-width:130px;
  margin:0 auto;
  margin-bottom: 30px;
}

.demonstration__stub {
  width: 100%;
  height: 150px;
}

.demonstration__desc {
  font-size: 13px;
  line-height: 24px;
  max-width:180px;
  margin-bottom: 50px;
}
.demonstration__content {
 padding:30px;
}
/*=====  End of demonstration  ======*/
