/*===================================
=            page-header            =
===================================*/
.page-header {
  display: flex;
  position: relative;
  padding-top:22px;
  padding-right:31px;
  padding-bottom:23px;
  padding-left:31px;
  background:#fff;
  border-bottom:1px solid #ececec;
  justify-content:space-between;
  align-items:center;
}

/*=====  End of page-header  ======*/
