/*==============================
=            slider            =
==============================*/

.slider {

  padding-top: 30px;
  padding-bottom: 40px;
}

.slider__title {
  font-family: 'Open Sans Bold', 'Arial', sans-serif;
  margin-bottom: 35px;
}

.slider__arrow {
  display: block;
  width: 130px;
  height: 50px;
  padding: 0;
  margin: 0;
  text-indent:-9999px;
  overflow:hidden;
  background:transparent;
  border:1px solid #ececec;
  outline:none;
  cursor:pointer;


  &--prev {
    margin-right: -1px;
  }
}

.slider__controls {
  display: flex;
  justify-content:center;
  margin-bottom: 35px;
}

/*=====  End of slider  ======*/
