/*==============================
=            social            =
==============================*/
.social {
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  border-bottom:2px solid #e5e5e5;
}
.social__link {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


.social__list {
  display: flex;
  justify-content:space-between;
  max-width: 145px;
  margin:0 auto;
}

.social__link {
  width: 22px;
  height: 20px;
}



/*=====  End of social  ======*/
